.App {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Canvas {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(43, 44, 55);
}

.btnContainer {
  position: absolute;
  bottom: 5em;
  left: 50%;
  transform: translateX(-50%);
}
.btn {
  font-size: 1.5rem;
  padding: 0.5em 1em;
  font-weight: 600;
  border: none;
  margin-inline: 0.5em;
  border-radius: 0.5em;
  transition: background-color 0.5s ease-out;
}

.btn.active {
  background-color: rgb(255, 166, 0);
}
